body {
    
    background-image: url(../imagensCadastroLogin/fundoTelaInicial.png);
    width: auto;
    height: auto;
} 

/* #imagemFundo {
    
    background-image: url(../imagens/fundoTelaInicial.png);
    width: auto;
    height: auto;

} */

.Header h1 {
    color: white;
    margin-left: 20px;
    font-size: 50px;
}

.Header {
    position: relative;
    margin: 0px auto 0px auto;
    height: 60px;
    width: auto;
    /* background: #C0C231; */
    background: #000000;
    border-spacing: 0;
}
.navbar {
    right: 5px;
    margin-top: -20px;
    position: absolute;
    width: auto;
    height: 40px;
    
    
}


nav li{
    
    display: inline-flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -15px;
    font-size: 24px;
    
}

nav a {
    color: white;
}

.cardCadastro{
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    Display: absolute;
    width: 1280px;
    height: 720px;
    border-radius: 20px;
}


.card {
    
    align-items: center;
    display: flex;
    
    width: 463px;
    height: 635px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    border-radius: 30px 0px 30px 0px;
    /* background: rgba(255, 232, 28, 0.32); */
    background: rgba(160, 157, 131, 0.32);
}

.card p {
    color: white;
    margin-top: 55px;
    margin-bottom: 20px;
       
    font-size: 36px;

}


form label {
    margin-top: 20px;
    font-size: 20px ;
}

form input {
    margin-top: 8px;
    outline: 3px solid yellow;
    border: 0;
    padding: 8px;
    font-size: 15pt;
    border-radius: 10px;
}



/* .card form button{
    color: black;
    width: 177px;
    height: 56px;
    border-radius: 20px;
    margin-right: 0px;
    margin-left: 0px;
} */
form button{
    
    color: black;
    background-color: yellow;
    width: 177px;
    height: 56px;
    border-radius: 20px;
    font-size: 24px;
    font-weight: bolder;
    margin-top: 40px;
    margin-left: 40px;
    
}

.card h4{
    font-weight: bolder;
    margin-top: 25px;

}

.card img{
    
    margin: 20px;
    width: 35px;
    height: 31px;

   
}

.card .icons{

    display: inline-flex;
}

.card h3{
    font-size: 20px;
    color: blue;
    margin-top: 10px;
}


