* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    position: absolute;
    width:  100%;
    height: 100%;
    
    background-color: #4F4F4F;
    }

    .cabecalho {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 15px;
        background-color: black;
    }
    .cabecalho-logo {
        font-family: 'Sarala', sans-serif;
        color: white;
        font-weight: 500;
        font-size: 30px;
    }
    
    .cabecalho-menu {
        display: flex;
        gap: 75px;
        margin-left: 550px;
        }

        .fixarRodape{
            position: absolute;
            bottom: 00;
            color: white;
            width: 100%;
            height: 50px;    
            text-align: center;
            line-height: 30px;
        }
      
