* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    position: absolute;
    width:  100%;
    height: 100%;
    
    background-color: #4F4F4F;
    }

    .cabecalho {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 15px;
        background-color: black;
    }
    .cabecalho-logo {
        font-family: 'Sarala', sans-serif;
        color: white;
        font-weight: 500;
        font-size: 30px;
    }
    
    .cabecalho-menu {
        display: flex;
        gap: 75px;
        margin-left: 550px;
        }

        .fixarRodape{
            position: absolute;
            bottom: 00;
            color: white;
            width: 100%;
            height: 50px;    
            text-align: center;
            line-height: 30px;
        }


.containerFeed{
    width: 100%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 10px;
    background: #4F4F4F;
}

.fundoPerfil{
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 70px;
    height: 600px;
    padding-top: 100px;
    text-align: center;
    background-color: white;
}

.imgPerfil{
    max-width: 260px;   
    border-radius: 460px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.feed {
    display: flex;
    height: 700px;
    width: 75%;
    background: aliceblue;
}
      
